#header {
    display: flex;
    height:100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #1d277db5, #03c987b5), url("../img/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .logo {
        display: flex;
        align-items: center;
        img {
            width: 60px;         
  }
}

// Intro

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%; 
        h1 {
            color: white;
            font-size: 250%;
            font-weight: 600;
            text-transform: capitalize;
            line-height: 1.6;
            margin: 1rem 0;
        }     
        h2 {
            color: white;
            font-size: 100%;
            span {
                 color: #03C988;
            }
        }
        .buttons {
            display: flex;
            margin-top: 1.5rem;
            a {
                text-decoration: none;
                color: white;
                margin-right: 1rem;
        
            }
        }
    }
  }
    // media queries

    @media screen and (max-width: 768px) {
        #header {
          .container {
            .intro {
              text-align: center;
              .buttons {
                justify-content: center;
              }
            }
          }
        }
      }

