nav {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 999;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      li {
        margin: 0 10px;
        position: relative;
    
        a {
          color: white;
          text-decoration: none;
          font-size: 18px;
          &:hover {
            padding-bottom: .5rem;
            border-bottom: 4px solid #03C988;
            transition: all 300ms ease-in-out;
          }
        }
      }
    }
  }
  
  
  
  
  
  
  
  .nav-toggle {
    display: none
  }
  
  .nav-toggle-label {
    background: #ffffff;
    display: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    z-index: 999;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.221)
  }
  
  .nav-toggle-label span {   
    display: block;
    width:70%;
    height: 3px;
    background-color: #03C988;;
    position: absolute;
    top: 0;
    left: 8px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
  }
  
  .nav-toggle-label span:nth-of-type(1) {
    transform-origin: left;
    top:13px;
    
  }
  .nav-toggle-label span:nth-of-type(2) {
    transform-origin: left;
    top:28px;
  
    
  }
  
  .nav-toggle-label span:nth-of-type(3) {
    transform-origin: right;
    top: 45px;
  }
  
  .nav-toggle:checked + .nav-toggle-label span:nth-of-type(1) {
    transform: rotate(45deg) translateX(5px);
    top: 14px;
    left: 20px;
  }
  
  .nav-toggle:checked + .nav-toggle-label span:nth-of-type(2) {
    opacity: 0;
  }
  
  .nav-toggle:checked + .nav-toggle-label span:nth-of-type(3) {
    transform: rotate(-45deg) translateX(-10px);
    top: -5px;
    left: 17px;


    
  }
  
  .nav-toggle:checked ~ ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  

     nav {
      height: 60px;
      padding: 0 20px; 

      ul {
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100vh ;
        background-color: #1d277de8;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-30px);
        transition: all 0.3s ease-in-out;
  
        li {
          margin: 20px 0;
        }
      }
    }
  
    
  
    .nav-toggle-label {
      display: block;
    }
  
    .nav-toggle-label span {
      top: 50%;
    }

    .nav-toggle:checked ~ ul {
        transform: translateY(0);
      }
    
      .nav-toggle:checked + .nav-toggle-label span:nth-of-type(1) {
        transform: rotate(45deg) translateX(-5px);
      }
    
      .nav-toggle:checked + .nav-toggle-label span:nth-of-type(2) {
        opacity: 0;
      }
    
      .nav-toggle:checked + .nav-toggle-label span:nth-of-type(3) {
        transform: rotate(-45deg) translateX(-22px);
      }
    