.projects {
    // height: 100vh;
    padding: 8rem 2rem;

.container {
    .return-btn {
        a , i {
            color: black;
        }
        i {
            margin-right: 1rem;
        }
    }
    .row {
        .col-12 {
            img {
                width: 100%;
                }
            }
        }
    }
}