.projects {
    // height: 100vh;
    padding: 8rem 2rem;

.container {
    .return-btn {
        width: 220px;
        padding: 1rem;
        border-radius: 5px;
        a , i {
            color: black;
            text-decoration: none;
        }

        i {
            margin-right: 1rem;
        }
    }
    .row {
        .col-12 {
            img {
                width: 100%;
                }
            }
            .tech {
                .tecnologias {
                    img {
                        width: 150px;
                    }
                }
            }
        }
    }
}