.projects {
    // height: 100vh;
    padding: 8rem 2rem;

.container {
    .return-btn {
        background-color: #44444457;
        width: 220px;
        padding: 1rem;
        border-radius: 5px;
        a , i {
            color: black;
        }

        i {
            margin-right: 1rem;
        }
    }
    .row {
        .col-12 {
            img {
                width: 100%;
                }
            }
        }
    }
}