@media screen and (max-width: 768px) {
  // header
  #header {
    .container {
      .intro {
        text-align: center;
        .buttons {
          justify-content: center;
        }
      }
      .nav {
        .hamburger , ul  {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 541px) {
  .container {
    .about  {

        hr {
          display: none
        }
    }
  }
}
@media screen and (max-width: 540px) {

  #about {   
    .container {
        .about  {

            h2 {
              margin-bottom: 1.8rem !important;
            }
            hr {
              border: 10px dotted #1d277d;
              border-bottom: none;
              width: 100px;
              text-align: center;
              margin: 0 auto;
            }
            .profil-img {
                position: relative;
                img {
                    border-radius: 0px;
                }
               
                .top-left {
                    position: absolute;
                    top: -30px;
                    left: -20px;
                    border-left: 10px solid #1d277d;
                    border-top: 10px solid #1d277d;
                    height: 150px;
                    width: 150px;
                }
                .bottom-right {
                    position: absolute;
                    bottom: -30px;
                    right: -20px;
                    border-bottom: 10px solid #1d277d;
                    border-right: 10px solid #1d277d;
                    height: 150px;
                    width: 150px;
            }
          }
        }
      }
    // }
  }


  // Footer 540px
  footer {  
      .row {
        p {
          font-size: 80%;
        }
        .social-links {
          ul li a {
            font-size: 60%;
          }
        }
      }
    }
  }

  // Nav-bar responsive
@media screen and (max-width: 768px) {
  #header {
    .container {
      .nav {
        .hamburger {
          display: block;
          .active .bar:nth-child(2) {
            opacity: 0;
          }
          .active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45);
          }
          .active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45);
        }
      }
        .nav-menu {
          position: fixed;
          left: -100%;
          top: 70px;
          flex-direction: column;
          background-color: #1d277d;
          width: 100%;
          text-align: center;
          transition: 300ms;
          .nav-item {
            margin: 1rem 0;
            }
            .active {
              left: 0;
            }
          }
        }
      }
    }
  }


  // about
  @media screen and (max-width: 992px) {
  #about {
    .container {
      .about {
        .profil-img {
          img {
            width: 100%;
          }
        }
      }
    }
  }
  // contact 
  #contact {
    .row {
      .contact-img {
        img {
          width: 100%;
          margin-bottom: 4rem;
        }
      }
    }
  }
}





