@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    // max-width: 1140px;
    padding: 4rem 0;
    margin: 0 auto;
}

.s-heading {
    font-size: 280%;
    margin-bottom: 4rem;
    span {
        color: #03C988;
    }
}
.light {
    color: white;
}


#header {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #1d277db5, #1d277db5), url("../img/header-bg.jpg");
    background-repeat: no-repeat;

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            width: 60px;
            background: white;
            padding: .2rem;
            border-radius: 2px;
        }
    }
   
    .nav ul {
        display: flex;
        padding: 2rem 4rem;
        align-items: center;
        justify-content: flex-end;
            list-style: none;
            a {
                text-decoration: none;
                color: white;
                margin-left: 2rem;
        }
    }
}

// Intro

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%; 
        h1 {
            color: white;
            font-size: 250%;
            font-weight: 600;
            text-transform: capitalize;
            line-height: 1.6;
            margin: 1rem 0;
        }     
        h2 {
            color: white;
            font-size: 100%;
            span {
                 color: #03C988;
            }
        }
        .buttons {
            margin-top: 1.5rem;
            a {
                text-decoration: none;
                color: white;
                margin-right: 1rem;
        
            }
        }
    }


// btns

.btn-white {
    padding: 1rem 1.5rem;
    border: 2px white solid ;
    border-radius: 5px;
    font-weight: 600; 
    transition: all 200ms ease-in-out;
    &:hover {
        background: white;
        color: #1d277d !important;
    }
}

.btn-green {
    padding: 1rem 1.5rem;
    background: #03C988;
    border: 2px #03C988 solid ;
    border-radius: 5px;
    font-weight: 600; 
    transition: all 200ms ease-in-out;
    &:hover {
        filter: brightness(120%);
    }
}

// About Section

#about {   
    .container {
        .about {
            .profil-img {
                img {
                width: 100%;
                border-radius: 15px;
                box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.094);
                }
        }   
            .content {
                // margin-right: 4rem;
            p {
                margin: 2rem 0;
                }
            }
        }
    }   
}

// Proyectos Section

#work {
    background: #1d277d;
    .container {
        text-align: center;
        margin: 0 auto;
    .cards {
        text-align: center;      
        // margin: 2rem auto; 
        .card {
            &:not(:last-child) {
                // margin-right: 2rem;
            }
            &:hover {
                transform: scale(1.04);
                box-shadow: 0px 10px 39px 10px rgba(2, 254, 254, 0.231);
                transition: all 300ms ease-out;
            }
            background: white;
            padding: 1rem;
            border-radius: 5px;
                
                img {
                    width: 100%;
                }
            }
        }
    }
}

// Contact Section

footer {
    
    margin: 0;
    padding: 0;
    .social {
        margin-top:-4px;
        height: 150px;
        background: #222C80;
    }
}
